# ==================================
# Ollama LLM Configuration
# ==================================

# Local Ollama server address.
# Default Ollama runs on port 11434.
OLLAMA_HOST=http://localhost:11434


# Local model used by the AI agent.
# Example:
# tinyllama
# llama3.2
# mistral
OLLAMA_MODEL=tinyllama



# ==================================
# Application Configuration
# ==================================

# Current application mode.
# Options:
# development
# production

APP_ENV=development